<footer class="footer container">
  <section class="footer_media">
    <i class="fab fa-instagram footer_media--item"></i>
    <i class="fab fa-facebook-square footer_media--item"></i>
    <i class="fab fa-twitter footer_media--item"></i>
    <i class="fab fa-youtube footer_media--item"></i>
  </section>
  <section class="footer_lists">
    <ul>
      <li><a href="" class="footer_lists--item">Audio y subtítulos</a></li>
      <li><a href="" class="footer_lists--item">Zona de prensa</a></li>
      <li><a href="" class="footer_lists--item">Privacidad</a></li>
      <li><a href="" class="footer_lists--item">Contáctanos</a></li>
    </ul>
    <ul>
      <li><a href="" class="footer_lists--item">Audiodescripción</a></li>
      <li><a href="" class="footer_lists--item">Inversores</a></li>
      <li><a href="" class="footer_lists--item">Avisos legales</a></li>
    </ul>
    <ul>
      <li><a href="" class="footer_lists--item">Centro de ayuda</a></li>
      <li><a href="" class="footer_lists--item">Empleo</a></li>
      <li><a href="" class="footer_lists--item">Preferencias de cookies</a></li>
    </ul>
  </section>
  <p class="footer_copy">&copy;FAKEFLIX | Todos los derechos reservados</p>
</footer>
