.body {
  font-family: 'Open sans';
  background-color: $backgroundColor;
}

.container {
  margin: 0 32px;
  @include tablet {
    margin: 0 44px;
  }
  @include desktop {
    @include contentCentered(1024px);
  }
}
